
<h1><%= t('hello') %></h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= current_user.email %>
<br>
<br>
    <%= link_to 'Switch To English', locale: :en%>,,========>
    <%= link_to 'Switch To Thai', locale: :th%>
    <br>


<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
