
<h1><%= t('hello') %></h1>
<%= t('login') %> <%= current_user.email %>
<br>
<br>
<br>
<%= t('switch') %>
<br>

    <%= link_to 'English', locale: :en%> || 
    <%= link_to 'ภาษาไทย', locale: :th%>
    <br><br><br><br>
    

<%= link_to t('logout'), destroy_user_session_path, :method => :delete %> 
